@font-face {
    font-family: 'AntonSC';
    src: url('../src/fonts/AntonSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../src/fonts/BebasNeue-Regular.ttf') format('truetype');
}

:root {
    --primary-color: #1434A4;
    --secondary-color: #0F52BA;
    --font-color: #FEFEFE;
    --main-font: 'Bebas Neue';
}

body {
    font-family: var(--main-font);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
    margin: 5vh auto;
}

.header {
    font-family: 'AntonSC';
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-size: 1.8rem;
    cursor: default;
}

.header > img {
    position: relative;
    left: 4px;
    width: 58%;
    filter: invert(1);
}

.header > h1 {
    margin: -20px 0 0;
}

.content {
    background-color: var(--primary-color);
    height: 60vh;
    min-width: 100%;
    padding: 24px 0;
}

.message-box {
    width: 100%;
    margin: 0 auto;
}

.message {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    margin: 0;
}

.error {
    color: rgb(221, 75, 104);
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 15px;
}

.instruction {
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: 1.6px;
    line-height: 35px;
}

.underline {
    text-decoration: underline;
}

.grid {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    border: 3px solid #000000;
    margin-top: 0;
}

.grid-cell {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell:hover {
    background-color: var(--font-color);
    opacity: 0.6;
}

.hit {
    background-image: url('../src/image/explosion.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5c5c5c;
}

.miss::before {
    content: 'â—';
    font-size: 1.8rem;
    color: var(--font-color);
}

.ship {
    background-color: #696E6A;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25px 0 0;
}

#random-btn, #start-btn, #reset-btn {
    font-family: var(--main-font);
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: var(--primary-color);
    background-color: var(--font-color);
    padding: 4px 18px;
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    cursor: pointer;
}

#random-btn:hover, #start-btn:hover, #reset-btn:hover {
    color: var(--font-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--font-color);
}

#random-btn:disabled, #start-btn:disabled {
    background-color: gray;
}

#random-btn:disabled:hover, #start-btn:disabled:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: default;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    gap: 16px;
    width: 100%;
    font-size: 1.2rem;
}

.footer > p {
    letter-spacing: 1.2px;
    margin: 12px 0;
}

i[class$="hub"] {
    color: var(--font-color);
    font-size: 1.5rem;
}

i[class$="hub"]:hover {
    color: #CECECE;
}

@media screen and (max-width: 1755px) {
    body {
        height: fit-content;
        margin: 16px auto;
    }

    .content {
        height: auto;
    }
    
    .game-container {
        display: grid;
        gap: 16px;
        grid-template: 400px / repeat(2, 1fr);
        grid-auto-rows: 120px;
        margin: 25px 80px;
    }

    .instruction {
        position: relative;
        top: auto;
        left: auto;
        height: 100px;
        justify-self: center;
        grid-column: 1 / 3;
        grid-row: 2;
    }

    #player-grid {
        grid-column: 1 / 2;
    }

    #enemy-grid {
        grid-column: 2 / 3;
    }

    #player-grid, #enemy-grid {
        justify-self: center;
    }
}

@media screen and (max-height: 940px) {
    .footer {
        position: static;
        margin-top: 12px;
    }
}

@media screen and (max-width: 960px) {
    body {
        width: fit-content;
        margin: 20px auto 10px;
    }

    .content {
        width: fit-content;
    }
    
    .message-box {
        margin: 0;
    }

    .message {
        font-size: 1.25rem;
        margin-bottom: 16px;
    }

    .game-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin: 0;
    }

    .game-container > p:first-child {
        margin-top: 0;
    }

    .game-container > p {
        font-size: 1.2rem;
        margin-bottom: 4px;
        width: 275px;
        text-align: start;
    }

    #player-grid, #enemy-grid {
        height: 280px;
        width: 280px;
    }

    .instruction {
        font-size: 1.1rem;
        line-height: 24px;
        height: 60px;
    }

    #random-btn, #start-btn, #reset-btn {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}